body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
  color: #333;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
}

nav ul li {
  margin-right: 70px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

main {
  padding: 20px;
}

.hero {
  background-color: rgb(241, 241, 241);
  text-align: center;
  padding: 100px 0;
}

.hero h1 {
  margin-bottom: 20px;
  font-size: 36px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 30px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.btn:hover {
  background-color: #555;
}

.about {
  margin: 50px 0;
}

.about h2 {
  margin-bottom: 20px;
}

.projects {
  margin-bottom: 50px;
}

.project {
  margin-bottom: 30px;
}

.project img {
  width: 50%;
  height: 400px;
  object-fit: cover;
  margin-bottom: 10px;
}

.project h3 {
  margin-bottom: 10px;
  font-size: 24px;
}

.contact {
  margin-bottom: 100px;
}

.contact form input,
.contact form textarea {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.contact form textarea {
  height: 150px;
}

.contact form button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  border: none;
  transition: background-color 0.3s ease;
}

.contact form button:hover {
  background-color: #555;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}