body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
  }

#parent {
background-color: #ffffff;
padding: 20px;
margin: 50px auto;
max-width: 400px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
p {
margin: 10px 0;
color: #333333;
}


#parent > p
{
    font-size: 2rem;
}